<a ng-href="/registerUser" class="btn btn-success btn-sm">Register</a>

<a ng-href="/loginUser" class="btn btn-success btn-sm">Login</a>

<a ng-href="/auth/facebook" ng-click="authFace('/auth/facebook')">Login with Facebook</a>














































<!--<form role="form" ng-submit="submit()">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="email">
    </div>
    <div class="form-group">
        <label for="user">User</label>
        <input type="text" class="form-control" id="user" placeholder="Enter user" ng-model="user">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="pwd">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>


        <hr>
    <button type="button" class="btn btn-success btn-sm" ng-click="logIn()">LogIn</button>
        <hr>
    <button type="button" class="btn btn-success btn-sm" ng-click="writeFace()">Write someone</button>
        <hr>

{{data}}

<div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
</div>

&lt;!&ndash; Facebook Badge START &ndash;&gt;<a href="{{testface}}" title="Vladimir Demidov" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Vladimir Demidov</a><br /><a href="{{testface}}" title="Vladimir Demidov" target="_TOP"><img class="img" style="border: 0px;" alt="" /></a><br /><a href="https://www.facebook.com/badges/" title="!" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Создайте свою визитку</a>&lt;!&ndash; Facebook Badge END &ndash;&gt;
{{face}}
        <hr>
{{userFace}}
        <hr>
        {{userPhotos}}
        <hr>
        {{testface}}













   <h1>Enother part with DB</h1>

<form role="form" ng-submit="submitSecond(); titi=''">
    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="Enter name" ng-model="titi">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>-->
